# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala
- Java
- C++

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch
- Keras
- Statsmodels

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers

In [40]:
(3 * 4) + 5

17

This will convert 200 minutes to hours by diving by 60

In [42]:
200 / 60

3.3333333333333335

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Highlight development environment tools for Data Science
- Demonstrate a simple arithmetic expression in Python
- Summarize key takeaways from the course

## Author

Michael Simony